# 源程序

In [ ]:
# %load untitled0.py
"""
Created on Mon Jul 02 23:04:14 2018

@author: Administrator
"""

import pandas as pd
import numpy as np
train_df=pd.read_csv('C:/Users/Administrator/Desktop/ML/example/weibo/mytest_train_data.csv')
#train_df=pd.read_csv('C:/Users/Administrator/Desktop/ML/example/titanic/titanic_data/train.csv')
#print train_df.head()
print train_df.info()
#train_df['sum']=train_df[3]+train_df[4]+train_df[5]
####修改列名
#train_df.columns=['uid','mid','time','forward_count','comment_count','like_count','content','sum']
train_df=train_df.ix[:10000,['uid','mid','time','forward_count','comment_count','like_count','sum']]
#print train_df.head()
####写入CSV文件
#train_df.to_csv('C:/Users/Administrator/Desktop/ML/example/weibo/mytest_train_data.csv')
#train_df.to_csv('C:/Users/Administrator/Desktop/ML/example/weibo/weibo_train_data.csv')
####同一用户的评论、点赞、转发求和
df_processsum = pd.DataFrame()
df_processsum=train_df.groupby('uid').agg({'forward_count':np.sum,'comment_count':np.sum,'like_count':np.sum})
df_processsum.columns=['forward_sum','comment_sum','like_sum']
###将用户名由索引变为列
df_processsum.reset_index(inplace = True)
#print df_processsum.head()
#print df_processsum.info()
#print df_processsum.index
####同一用户的转发、点赞求最大值

print '_'*13
print df_processsum[:12]
df_processsum.to_csv('C:/Users/Administrator/Desktop/ML/example/weibo/train_sum.csv')

# 运行

## 导入包 查看数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df=pd.read_csv('./mytest_train_data.csv')
train_df.head()

,Unnamed: 0,uid,mid,time,forward_count,comment_count,like_count,sum
0,0,d38e9bed5d98110dc2489d0d1cac3c2a,7d45833d9865727a88b960b0603c19f6,2015/2/23 17:41,0,0,0,0
1,1,fa13974743d3fe6ff40d21b872325e9e,8169f1d45051e08ef213bf1106b1225d,2015/2/14 12:49,0,0,0,0
2,2,da534fe87e7a52777bee5c30573ed5fd,68cd0258c31c2c525f94febea2d9523b,2015/3/31 13:58,0,0,0,0
3,3,e06a22b7e065e559a1f0bf7841a85c51,00b9f86b4915aedb7db943c54fd19d59,2015/6/11 20:39,0,4,3,7
4,4,f9828598f9664d4e347ef2048ce17734,c7f6f66044c0c5a3330e2c5371be6824,2015/3/10 18:02,0,0,0,0

In [3]:
print train_df.info()
train_df=train_df.ix[:10000,['uid','mid','time','forward_count','comment_count','like_count','sum']]
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 8 columns):
Unnamed: 0       10001 non-null int64
uid              10001 non-null object
mid              10001 non-null object
time             10001 non-null object
forward_count    10001 non-null int64
comment_count    10001 non-null int64
like_count       10001 non-null int64
sum              10001 non-null int64
dtypes: int64(5), object(3)
memory usage: 625.1+ KB
None

E:\Anaconda3\envs\python_27\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,uid,mid,time,forward_count,comment_count,like_count,sum
0,d38e9bed5d98110dc2489d0d1cac3c2a,7d45833d9865727a88b960b0603c19f6,2015/2/23 17:41,0,0,0,0
1,fa13974743d3fe6ff40d21b872325e9e,8169f1d45051e08ef213bf1106b1225d,2015/2/14 12:49,0,0,0,0
2,da534fe87e7a52777bee5c30573ed5fd,68cd0258c31c2c525f94febea2d9523b,2015/3/31 13:58,0,0,0,0
3,e06a22b7e065e559a1f0bf7841a85c51,00b9f86b4915aedb7db943c54fd19d59,2015/6/11 20:39,0,4,3,7
4,f9828598f9664d4e347ef2048ce17734,c7f6f66044c0c5a3330e2c5371be6824,2015/3/10 18:02,0,0,0,0

## 聚合并对给定列求和

In [4]:
####同一用户的评论、点赞、转发求和
df_processsum = pd.DataFrame()
df_processsum = train_df.groupby('uid').agg({'forward_count':np.sum,'comment_count':np.sum,'like_count':np.sum})
df_processsum.head(12)

                                  forward_count  like_count  comment_count
uid
0001565a5edece1669577e2ace9a6a3d              0           0              0
000c663a24a2f91f4ba156fcd4f8b9f2              0           0              0
0018b27ecc1370e4208b6b2f175e6651              0           0              0
001e00fddab72bf7e6be3455e199904a              0           0              0
001fe802d7b8a3f5782b25acf0410440              0           0              0
00366f1ae39b881bdb2ba8687a4c912a              0           0              0
0037104157ee5dd0987be03d750f0fd3              0           0              0
005989ae18cab8d7896bc1ab84dcfe88              0           0              0
00629276bf87e3b0ffb8930d658d21bd              0           0              0
00677efdde3a4a8ce715c9477762a7c3              0           0              0
008ae13aeeeb93aae3989160052ac874              0          17              3
00c8986de0a9e2e8de08d9b7a315c690              0           0              0

## 重命名列

In [5]:
df_processsum.columns=['forward_sum','comment_sum','like_sum']
df_processsum.head()

                                  forward_sum  comment_sum  like_sum
uid
0001565a5edece1669577e2ace9a6a3d            0            0         0
000c663a24a2f91f4ba156fcd4f8b9f2            0            0         0
0018b27ecc1370e4208b6b2f175e6651            0            0         0
001e00fddab72bf7e6be3455e199904a            0            0         0
001fe802d7b8a3f5782b25acf0410440            0            0         0

## 查找 df_processsum 中 comment_sum=17  comment_sum=3

### 确实与原始数据相反

In [6]:
# df_processsum['uid'].index('008ae13aeeeb93aae3989160052ac874')
df_processsum[df_processsum['comment_sum'].isin([17]) & df_processsum['comment_sum'].isin([3])]

Empty DataFrame
Columns: [forward_sum, comment_sum, like_sum]
Index: []

In [7]:
df_processsum.reset_index(inplace = True)
print '_'*13
print df_processsum[:12]

_____________
                                 uid  forward_sum  comment_sum  like_sum
0   0001565a5edece1669577e2ace9a6a3d            0            0         0
1   000c663a24a2f91f4ba156fcd4f8b9f2            0            0         0
2   0018b27ecc1370e4208b6b2f175e6651            0            0         0
3   001e00fddab72bf7e6be3455e199904a            0            0         0
4   001fe802d7b8a3f5782b25acf0410440            0            0         0
5   00366f1ae39b881bdb2ba8687a4c912a            0            0         0
6   0037104157ee5dd0987be03d750f0fd3            0            0         0
7   005989ae18cab8d7896bc1ab84dcfe88            0            0         0
8   00629276bf87e3b0ffb8930d658d21bd            0            0         0
9   00677efdde3a4a8ce715c9477762a7c3            0            0         0
10  008ae13aeeeb93aae3989160052ac874            0           17         3
11  00c8986de0a9e2e8de08d9b7a315c690            0            0         0

### 再次对原始数据中的数据进行验证

- uid为024165f0b4ef119ca45d6169f7f77ef7的原始数据comment_count为12 like_count为15
- 而df_processsum刚好相反

In [8]:
print "原始数据train_df中comment_count=12，like_count=15的数据："
print train_df[train_df['comment_count'].isin([12]) & train_df['like_count'].isin([15]) & train_df['forward_count'].isin([14]) 
               & train_df['uid'].isin(['024165f0b4ef119ca45d6169f7f77ef7'])]
print '-'*25
print "df_processsum中对应结果："
print df_processsum[df_processsum['comment_sum'].isin([15]) & df_processsum['like_sum'].isin([12]) & df_processsum['forward_sum'].isin([14])]

原始数据train_df中comment_count=12，like_count=15的数据：
                                   uid                               mid  \
6238  024165f0b4ef119ca45d6169f7f77ef7  c610f4341c465e474e62eeaf8291f657

                 time  forward_count  comment_count  like_count  sum
6238  2015/7/31 22:10             14             12          15   41
-------------------------
df_processsum中对应结果：
                                 uid  forward_sum  comment_sum  like_sum
46  024165f0b4ef119ca45d6169f7f77ef7           14           15        12

## 使用groupby的常规方法进行处理

In [9]:
df_processsum_1 = pd.DataFrame()
df_processsum_1 = train_df.groupby('uid')['forward_count','comment_count','like_count'].sum()
df_processsum_1.head(10)
df_processsum_1.columns=['forward_sum','comment_sum','like_sum']
df_processsum_1.head(10)
df_processsum_1[df_processsum_1['comment_sum'].isin([17])]
df_processsum_1.reset_index(inplace = True)
print '_'*13
print df_processsum_1[:12]

_____________
                                 uid  forward_sum  comment_sum  like_sum
0   0001565a5edece1669577e2ace9a6a3d            0            0         0
1   000c663a24a2f91f4ba156fcd4f8b9f2            0            0         0
2   0018b27ecc1370e4208b6b2f175e6651            0            0         0
3   001e00fddab72bf7e6be3455e199904a            0            0         0
4   001fe802d7b8a3f5782b25acf0410440            0            0         0
5   00366f1ae39b881bdb2ba8687a4c912a            0            0         0
6   0037104157ee5dd0987be03d750f0fd3            0            0         0
7   005989ae18cab8d7896bc1ab84dcfe88            0            0         0
8   00629276bf87e3b0ffb8930d658d21bd            0            0         0
9   00677efdde3a4a8ce715c9477762a7c3            0            0         0
10  008ae13aeeeb93aae3989160052ac874            0            3        17
11  00c8986de0a9e2e8de08d9b7a315c690            0            0         0

In [10]:
df_processsum_1[df_processsum_1['comment_sum'].isin([17]) & df_processsum_1['like_sum'].isin([3])]

Empty DataFrame
Columns: [uid, forward_sum, comment_sum, like_sum]
Index: []

In [11]:
df_processsum_1[df_processsum_1['comment_sum'].isin([3]) & df_processsum_1['like_sum'].isin([17])]

                                 uid  forward_sum  comment_sum  like_sum
10  008ae13aeeeb93aae3989160052ac874            0            3        17

- <font size=5>常规方法处理并未出现问题</font>

## 重新使用agg方法

In [12]:
df_processsum_2 = pd.DataFrame()
df_processsum_2 = train_df.groupby('uid').agg({'forward_count':np.sum,'comment_count':np.sum,'like_count':np.sum})
df_processsum_2.head(12)
# df_processsum_2.reset_index(inplace = True)
# df_processsum_2.columns=['forward_sum','comment_sum','like_sum']
# # print df_processsum_2[df_processsum_1['comment_sum'].isin([17])]
# print df_processsum_2[:12]

                                  forward_count  like_count  comment_count
uid
0001565a5edece1669577e2ace9a6a3d              0           0              0
000c663a24a2f91f4ba156fcd4f8b9f2              0           0              0
0018b27ecc1370e4208b6b2f175e6651              0           0              0
001e00fddab72bf7e6be3455e199904a              0           0              0
001fe802d7b8a3f5782b25acf0410440              0           0              0
00366f1ae39b881bdb2ba8687a4c912a              0           0              0
0037104157ee5dd0987be03d750f0fd3              0           0              0
005989ae18cab8d7896bc1ab84dcfe88              0           0              0
00629276bf87e3b0ffb8930d658d21bd              0           0              0
00677efdde3a4a8ce715c9477762a7c3              0           0              0
008ae13aeeeb93aae3989160052ac874              0          17              3
00c8986de0a9e2e8de08d9b7a315c690              0           0              0

In [13]:
train_df.head()

,uid,mid,time,forward_count,comment_count,like_count,sum
0,d38e9bed5d98110dc2489d0d1cac3c2a,7d45833d9865727a88b960b0603c19f6,2015/2/23 17:41,0,0,0,0
1,fa13974743d3fe6ff40d21b872325e9e,8169f1d45051e08ef213bf1106b1225d,2015/2/14 12:49,0,0,0,0
2,da534fe87e7a52777bee5c30573ed5fd,68cd0258c31c2c525f94febea2d9523b,2015/3/31 13:58,0,0,0,0
3,e06a22b7e065e559a1f0bf7841a85c51,00b9f86b4915aedb7db943c54fd19d59,2015/6/11 20:39,0,4,3,7
4,f9828598f9664d4e347ef2048ce17734,c7f6f66044c0c5a3330e2c5371be6824,2015/3/10 18:02,0,0,0,0

### 发现问题

- train_df的三列的顺序为：forward_count--comment_count--like_count，
- 而df_processsum_2的顺序为：forward_count--like_count--comment_count
- 所以再重新对列进行命名出现问题
- 推测原因 groupby返回的是一个DataFrameGroupBy结构，这个结构须调用聚合函数（如sum）之后，才会得到结构为Series的数据结果。而agg是DataFrame的直接方法，返回的也是一个DataFrame，转换可能出现些许区别